<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupone.aviationsys.api.mapper.AirportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.groupone.aviationsys.api.entity.Airport">
        <id column="airportId" property="airportId" />
        <result column="name" property="name" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="IATA" property="iata" />
        <result column="ICAO" property="icao" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="altitude" property="altitude" />
        <result column="timezone" property="timezone" />
        <result column="dst" property="dst" />
        <result column="timezone_tz" property="timezoneTz" />
    </resultMap>

</mapper>
