<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupone.aviationsys.api.mapper.PlaneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.groupone.aviationsys.api.entity.Plane">
        <id column="planeId" property="planeId" />
        <result column="name" property="name" />
        <result column="tailNumber" property="tailNumber" />
        <result column="IATA" property="iata" />
        <result column="ICAO" property="icao" />
        <result column="airlineId" property="airlineId" />
    </resultMap>

</mapper>
