<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupone.aviationsys.api.mapper.RouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.groupone.aviationsys.api.entity.Route">
        <id column="routeId" property="routeId" />
        <result column="sourceAirportId" property="sourceAirportId" />
        <result column="destAirportId" property="destAirportId" />
        <result column="sourceAirportIATA_ICAO" property="sourceairportiataIcao" />
        <result column="destAirportIATA_ICAO" property="destairportiataIcao" />
        <result column="codeshare" property="codeshare" />
        <result column="stops" property="stops" />
        <result column="equipment" property="equipment" />
        <result column="airlineId" property="airlineId" />
        <result column="airlineIATA_ICAO" property="airlineiataIcao" />
    </resultMap>

</mapper>
